.form {
  margin: 40px 0 0 0;
  width: 100%;
}

.form-field {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}

.requiredfield {
  color: #8c1515;
  margin-left: 5px;
}

.col-date-time__time-select {
  width: 18%;
}

.col-date-time__date-select {
  width: 18%;
}

.col-date-range-select {
  text-align: center;
  width: 100px;
}

.sectionhead {
  color: #8c1515;
}

.weekdaycontainer {
  background-color: #ededed;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0.5rem;
}

.table {
  width: 100%;
}

.submit-button-container {
  margin: 3.0rem 0 0.75rem 0;
  text-align: center;
}

.button {
  background-color: teal;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  max-width: 200px;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
