.form {
  margin: 40px 0;
  width: 100%;
}

.form-field {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}

.requiredfield {
  color: #8c1515;
  margin-left: 5px;
}

.col-date-time {
  width: 18%;
}

.col-date-range-select {
  text-align: center;
  width: 100px;
}

.sectionhead {
  color: #8c1515;
}

.weekdaycontainer {
  background-color: #ededed;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0.5rem;
}

.table {
  width: 100%;
}

.button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
